* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./background_image.jpg);
    color: white;
}

span {
    color: red;
}

h1 {
    font-size: 40px;
}

#mainContainer {
    max-width: 800px;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    padding: 20px;
}

#firstContainer {
    margin: 10px;
    text-align: center;
    font-family: cursive;
    
}

#secondContainer {
    min-width: 50px;
    /* max-width: 80%; */
    max-width: 500px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 20px auto;
    padding: 40px 60px;
    font-size: 16px;
}


#name{
    margin-top: 10px;
    min-width: 50px;
    /* max-width: 80%; */
    max-width: 400px;
    min-height: 30px;
    max-height: 60%;
    height:100%;
    width:100%;
}

#age{
    margin-top: 10px;
    min-width: 50px;
    /* max-width: 80%; */
    max-width: 400px;
    min-height: 30px;
    max-height: 60%;
    height:100%;
    width:100%;
}

#mail{
    margin-top: 10px;
    min-width: 50px;
    /* max-width: 80%; */
    max-width: 400px;
    min-height: 30px;
    max-height: 60%;
    height:100%;
    width:100%;
}

#contentType{
    margin-top: 10px;
    min-width: 50px;
    /* max-width: 80%; */
    max-width: 400px;
    min-height: 30px;
    max-height: 60%;
    height:100%;
    width:100%;
}

textarea {
    min-width: 50px;
    /* max-width: 80%; */
    max-width: 400px;
    min-height: 80px;
    max-height: 60%;
    height:100%;
    width:100%;
}

#submitButton {
    background-color: red;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-color: red;
}

/* #resetButton {
    background-color: red;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-color: red;
    margin: 0 10px;
} */

.submitBtn {
    text-align: center;
}

